{% extends "base-template.html" %}
{% load staticfiles %}
{% block script %}
{{ block.super }}
<script src="{% static "js/admin/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/admin/datatable_options.js" %}"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
    var csrfmiddlewaretoken = '{{ csrf_token }}';
    local_config = {
        "columns": [
			{ "data": "field1" },
			{ "data": "field2" },
			{ "data": "field3" },
		],
        "aoColumns": [
                null,
                null,
                null
        ],
        "sAjaxSource": "/ajax/datatables/method1/"
    }
</script>
    <table id="datatable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>field1</th>
                <th>field2</th>
                <th>field3</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}
